<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="navFragment" >


    <ul class="nav nav-tabs mb-3 mt-3">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/}">Home</a>
<!--   @{/index}に書いたらwhitelabel error     -->
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/encode}">Encode</a>
        <!--                <a class="nav-link active" aria-current="page" th:href="@{/encode}">Encode</a>-->
      </li>
      <li class="nav-item">
        <a class="nav-link"th:href="@{/decode}">Decode</a>
      </li>
    </ul>

</th:block>

</html>