<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/header :: headerFragment('decode')}"></th:block>

<body>

    <div class="container mt-3">
        <th:block th:replace="fragments/nav :: navFragment"></th:block>
        <h1>Decode</h1>
        <form action="/decode" method="post">
            <textarea name="cipherText" placeholder="入力" class="form-control mt-3" rows="1"></textarea>
            <button type="submit" class="btn btn-success mt-3">復号</button>
        </form>

        <p>入力されたテキストを、0から26までの数値でシフトして正解の候補テキストを作ります。次に、各テキストに含まれた単語を辞書で検索し、辞書に登録された単語なら、その単語が含まれたテキストのスコアに1を加算します。以下の結果は、スコアが高い順に単語を整列したものです。</p>
        <p>lipps asvph</p>

        <h1>結果</h1>
        <div th:each="sortedPotentialAnswer : ${sortedPotentialAnswers}">
            <li th:text="${sortedPotentialAnswer}"></li>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>