<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th:block th:replace="~{fragments/header :: headerFragment('home')}">
    </th:block>

<body>

    <div class="container mt-3">
        <th:block th:replace="fragments/nav :: navFragment"></th:block>
        <h3>シーザー暗号とは?</h3>
        <p class="fs-4">アルファベットの文字を固定された数でシフトすることで暗号化を行います。たとえば、シフト数を3とすると、アルファベットaはdに、bはeに、cはfに置き換えます。これを元の文章に対して行うことで、暗号化します。
            例えば、シフト数が３の場合、「bead」は「ehdg」という暗号文が得られます。</p>
        <img th:src="@{/img/explanation1.jpg}" src="../static/img/explanation1.jpg" alt="explanation1" width="1000">

    </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>